<!doctype html>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <!-- Bootstrap JavaScript -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa'
    crossorigin='anonymous'></script>
  <!-- Bootstrap compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!--Vex Modals-->
  <script src="/assets/js/vex.combined.min.js"></script>
  <script>
    vex.defaultOptions.className = 'vex-theme-wireframe'
  </script>
  <link rel="stylesheet" href="/assets/css/vex.css" />
  <link rel="stylesheet" href="/assets/css/vex-theme-wireframe.css" />
  <!-- CSS Shake -->
  <link rel="stylesheet" type="text/css" href="/assets/css/csshake-hard.css">
  <!-- Local CSS link -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h6 class="text-center" id="mainHeader2">A SEQUELIZED</h6>
          <h2 class="text-center" id="mainHeader">BURGERTRACKER</h2>
        </div>
        <div class="row">
          <img src="/assets/images/burger.png" alt="burger picture" class="img-fluid" id="burgerImage">
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 text-center clearfix mainForm">
      <form action="/" method="POST" role="form">
        <h5 class="text-center" id="burgerAdd">ADD A NEW BURGER NAME</h5>
        <div>
          <textarea name="burger_name" id="burgerText" cols="30" rows="1" required></textarea>
        </div>
        <div>
          <button type="submit" class="basicBox" id="submitButton">Submit
              <svg width="110" height="45" viewBox="0 0 110 45" xmlns="http://www.w3.org/2000/svg">
                <rect x='0' y='0' fill='none' width='110' height='45'/>
              </svg>
            </button>
        </div>
      </form>
    </div>
    {{{body}}}
  </div>
  <script>
    function createQuery(form) {
      event.preventDefault();
      var devour = form[0].value;
      var burgerId = form[1].value;
      var customer_name;
      vex.dialog.prompt({
        message: 'Enter a customer name?',
        placeholder: 'The Hamburgler',
        callback: function (value) {
          customer_name = value.toUpperCase();
          var dataObject = { "id": burgerId, "devoured": devour, "customer_name": customer_name };
          var URL = window.location.origin + "/devour";
          $.ajax({
            url: URL,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(dataObject)
          })
        }
      })
    };
    // Add Burger Statement Animation
    var elementExists = document.getElementById("burgers");
    var intervalID;
    if (elementExists === null) {
      intervalID = setInterval(function () {
        $('#burgerAdd').addClass('shake-hard shake-constant');
        setTimeout(function () {
          $('#burgerAdd').removeClass('shake-hard shake-constant')
        }, 1000)
      }, 5000);
    }
    else clearInterval(intervalID);
  </script>
</body>

</html>